#main {
  padding-left: 300px;
}

#loading {
  position: fixed;
  z-index: 10000;
  top: 10px;
  left: 10px;
  width: 270px;
  background: #ee6;
  padding: 5px;
  border: 2px solid #333;
}

#infomsg {
  position: absolute;
  z-index: 10000;
  top: 100px;
  left: 250px;
  right: 250px;
  background-color: #f2e2e2;
  padding: 5px;
  border: 2px solid #333;
  border-radius: 1em;
  box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.1);
}

body {
  background-color: #ffe6f0; /* soft rose/pink */
  font-family: sans-serif;
  margin: 0;
  padding: 1em;
}

.LawSrc {
  background-color: #f2f2f2; /* light gray */
  padding: 1em;
  margin-bottom: 1em;
  border: 2px solid #333;
  box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.1);
}

.PartBody {
  background-color: #f2f2f2; /* light gray */
  border-radius: 1em;
  padding: 1em;
  margin-bottom: 1em;
  box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.1);
}


